<center><h1><%= @movie.title %></h1>
<b><label>Directed By: </label></b><%= @movie.director %><br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=@movie.trailer_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
<p><%= @movie.description %></p>
<%= link_to "Write a review for #{@movie.title}", new_review_path %>
</center>