<h1><%= @user.name%>'s Profile</h1>
<br>
<div><img src="<%=@user.img_url %>"></div>
<div><%= @user.username %></div>
<div><%= @user.name %></div>
<div><%= @user.age %></div>
<div><%= @user.password %></div>
<div><%= @user.email %></div>
<div><%= @user.country %></div>
<div><%= @user.bio %></div>
<br>
<%= link_to "Edit Profile", edit_user_path(@user)%>


<br>
